<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Local_SQL_Connection"
         connectionString="Data Source=localhost;Initial Catalog=AdventureWorksDW2014;Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
<appSettings>
      <add key="FileExtension" value=".csv" />
      <add key="FileDelimiter" value="," />
      <add key="sourceFolder" value="D:\myFiles\c\csvfiles" />
      <add key="destinationFile" value="D:\myFiles\c\csvfiles\CSV_Files_Combined.csv" />
   </appSettings>
</configuration>